.header {
    text-align: center;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    border-color: rgb(174, 0, 255);
    border-style: solid;
    
    
}


.body {
    
    font-family: Tahoma, sans-serif;
    background-image: url("source/background.jpg");
    background-size: 1920px, 1200px;
    
    
    
}

.h1 {
    background: -webkit-linear-gradient(90deg, #dd00ff, #00ccff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

* { color:white;
}
.text {
    background: -webkit-linear-gradient(90deg, #dd00ff, #00ccff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.text2 {
    color:  rgb(137, 75, 252);
    padding-left: 10px;
    padding-right: 50px;
}

.image {
     height: 400px;
     width: 300px;
     border: 3px solid;
     border-color: rgb(174, 0, 255);
     filter: brightness(80%);
}

.image2 {
    height: 180px;
    width: 200px;
    border: 3px solid;
    border-color: rgb(174, 0, 255);
    filter: brightness(80%);
}

.row {
    display:flex;
    align-content: flex-start;
}
.column {
    
    padding:3px;
    
    
}
